[user]
	name = Damian Tykalowski
	email = d47zm3@gmail.com
	signingkey = DD1D600D4228ED66
[core]
	editor = vim
	excludesfile = /Users/d47zm3/.gitignore
[commit]
  forceSignAnnotated = true
	gpgsign = true
[tag]
  forceSignAnnotated = true
	gpgsign = true
[pull]
  ff = only
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = current
[color]
	branch = auto
	status = auto
	diff = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = blue
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	prompt = false
  keepBackup = false
[alias]
  set-upstream = !git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)
