[user]
	name = Damian Tykalowski
	email = damian@d47zm3.me
	signingkey = 6E2FA20D3761173C
[core]
	editor = vim
	excludesfile = /Users/d47zm3/.gitignore
	pager = delta
[commit]
  forceSignAnnotated = true
	gpgsign = true
[tag]
  forceSignAnnotated = true
	gpgsign = true
[pull]
  ff = only
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = current
[color]
	branch = auto
	status = auto
	diff = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = green
	changed = yellow
	untracked = blue
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	prompt = false
  keepBackup = false
[alias]
	set-upstream = !git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)

[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = Monokai Extended
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse

[interactive]
	diffFilter = delta --color-only

[delta "decorations"]
	commit-decoration-style = yellow box ul
	file-style = yellow ul
	file-decoration-style = none
